@font-face {
    font-family: 'San Francisco Compact';
    src: url('fonts/sf-compact.woff2') format('woff2'),
        url('fonts/sf-compact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}