@import "../../styles/variables";

.Card {
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // subtle elevation
    overflow: hidden;
    background-color: $card-bg-color;
    height: 70vh;

    &__title {
        background-color: #3498db;
        color: #fff;
        text-align: left;
        font-size: 1.2em;
        font-weight: bold;
        padding: 18px 0px 15px 25px;


    }

    &__content {
        padding: 20px 20px 30px 20px;
        /* Enable vertical scrolling */
        overflow-y: auto;
        max-height: calc(70vh - 150px);
    }

}


.CardItem {
    display: flex;
    flex-direction: row;

    &__description {
        flex-grow: 1;
        margin-right: 8px;
        text-transform: capitalize;
        line-height: 1.8;
    }

    &__price {
        font-size: 1em;
    }

    &__price::after {
        content: '€';
    }
}

/* Media query for small screens (up to 600px) */
@media (max-width: 600px) {
    .Card {
        position: absolute;
        width: 100%;
    }
}

/* Media query for larger screens (above 600px) */
@media (min-width: 601px) {
    .Card {
        position: relative;
        width: 50%;
    }
}